
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proxima Nova Black";
    src: url("../public/fonts/proxima-nova/ProximaNova-Black.woff");
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../public/fonts/proxima-nova/ProximaNova-Regular.woff");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../public/fonts/proxima-nova/ProximaNova-Bold.woff");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url("../public/fonts/proxima-nova/ProximaNova-Light.woff");
}

.proxima-light {
    font-family: "Proxima Nova Light";
}

.proxima-black {
    font-family: "Proxima Nova Black";
}

.proxima {
    font-family: 'Proxima Nova';
}

.proxima-bold {
    font-family: 'Proxima Nova Bold';
}